/* Write your code here. */

.image-list {
  margin-right: 18px;
  margin-bottom: 18px;
}

.image-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.thumbnail {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}
.active {
  opacity: 1;
}
